<div class="jumbotron text-center">
  <h1>Welcome to my app</h1>

  <p>
    <%= link_to "login in",'#',class: "btn btn-primary btn-lg" %>
    <%= link_to "sign up",'#',class: "btn btn-primary btn-lg" %>

  </p>
</div>


